#app-content {
  position: absolute;
}

@media screen and (max-width: 991px) {
  .menu-label,
  #sidebar-brand {
    display: none;
  }
  #sidebar {
    width: min-content;
    margin-top: 55px;
  }
  .sidebar-item a {
    padding-right: 10px;
  }
  #app-content {
    padding-left: 80px;
  }

  #navbar-brand {
    display: block;
  }
  #navbar-brand-top {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  #sidebar {
    display: block;
  }
  #app-content {
    padding-left: 270px;
    margin-top: 20px;
  }
  #navbarToggler {
	  background-color: #6c757d;
  }
  #navbar-brand {
    display: none;
  }
  #navbar-brand-top {
    display: block;
  }
  .nav-inactive {
    border-top: solid 1px rgb(160, 160, 160);
  }
  .nav-item:hover {
    border-top: solid 1px rgb(130, 130, 130);
    background-color: rgb(95, 105, 110);
  }
  .nav-active {
    border-top: solid 1px rgb(120, 120, 120);
    background-color: rgb(84, 91, 98);
  }
  #navbar-top {
    position: relative;
    top: -1px;
  }
  #navbar {
    padding: 0px;
    position: absolute;
    border-top: solid 1px rgb(160, 160, 160);
  }
  #nav-link {
    background-color: #6c757d;
  } 
}
